<article class="truck">
  <header>
  <% if truck.reserved == true%>
    <div class="unavailable">Unavailable!</div>
  <% end %>
    <%= link_to truck do %>
      <h4><%= truck.name %></h4>
    <% end %>
  </header>
  <p class="truck_type">
    <%= truck.truck_type %>
  </p>
  <footer class="actions">
  <% if truck.reserved == false%>
    <%= link_to truck, class: 'btn btn-primary' , method: :post do %>
      Book
      <% end %>
    <% end %>
    <%= link_to truck, class: 'btn btn-info' do %>
      Details
    <% end %>
  </footer>

  <aside class="capacity">
    <%= truck.capacity %>
  </aside>
</article>
